## Visual Studio / Build outputs
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates

## IDE / Editor
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Package & Test results
*.nupkg
TestResults/
